<footer id="footer" class="clearfix">
  <% if (theme.footer) { %>
    <div class="footer">
      <%- markdown(theme.footer) %>
    </div>
    <br>
  <%}%>
  <% if (theme.social) { %>
    <div class="social-wrapper">
      <% (theme.social||[]).forEach(function(value){ %>
        <% if (value.url && value.icon) { %>
          <a href="<%= url_for(value.url) %>"
            class="social <%- value.icon %> flat-btn"
            target="_blank"
            rel="external nofollow noopener noreferrer">
          </a>
        <%}%>
      <%})%>
    </div>
  <%}%>
  <br>
  Copyright <i class="far fa-copyright"></i>  2018-2019 
  <a href="https://www.itrhx.com/" target="_blank"> Tanθ's Blog </a>
  &nbsp;&nbsp;|&nbsp;&nbsp;<img src="https://cdn.jsdelivr.net/gh/FraserYu/img-host/blog-imgicp.png">
  <a href="http://www.beian.miit.gov.cn/" target="_blank">辽ICP备19017651号-1</a>

  &nbsp;&nbsp;|&nbsp;&nbsp;  
  <% if (theme.wordCount.enable && theme.wordCount.totalCount) { %>
    &nbsp;<i class="fas fa-chart-area"></i>&nbsp;站点总字数:&nbsp;<span
        class="white-color"><%= totalcount(site) %></span>&nbsp;字
    <% } %>

  &nbsp;&nbsp;|&nbsp;&nbsp;  
  <% if (theme.time.enable) { %>
    <span id="timeDate">载入天数...</span><span id="times">载入时分秒...</span>
    <script>
        var now = new Date(); 
        function createtime() { 
            var grt= new Date("05/22/2019 09:09:06");//在此处修改你的建站时间
            now.setTime(now.getTime()+250); 
            days = (now - grt ) / 1000 / 60 / 60 / 24; dnum = Math.floor(days); 
            hours = (now - grt ) / 1000 / 60 / 60 - (24 * dnum); hnum = Math.floor(hours); 
            if(String(hnum).length ==1 ){hnum = "0" + hnum;} minutes = (now - grt ) / 1000 /60 - (24 * 60 * dnum) - (60 * hnum); 
            mnum = Math.floor(minutes); if(String(mnum).length ==1 ){mnum = "0" + mnum;} 
            seconds = (now - grt ) / 1000 - (24 * 60 * 60 * dnum) - (60 * 60 * hnum) - (60 * mnum); 
            snum = Math.round(seconds); if(String(snum).length ==1 ){snum = "0" + snum;} 
            document.getElementById("timeDate").innerHTML = "本站已运行 "+dnum+" 天 "; 
            document.getElementById("times").innerHTML = hnum + " 小时 " + mnum + " 分 " + snum + " 秒"; 
        } 
    setInterval("createtime()",250);
    </script>
    <% } %>
  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://dayarch.top/sitemap.xml" target="_blank">站点地图</a>
  &nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://tongji.baidu.com/web/welcome/ico?s=f553477a3dc5ab3837e9a4dead4e0bc7" target="_blank">站长统计</a>
  
  




  <div>
    <!-- <%- __('footer.use') %>
    <a href="<%- theme.info.docs %>" target="_blank" class="codename"><%- theme.info.name %></a>
    <%- __('footer.theme') %> -->
    <% if (theme.busuanzi == true) { %>
      <!-- <%- __('symbol.comma') %> -->
      <!-- <%- __('footer.total_views') %>
      <span id="busuanzi_value_site_pv"><i class="fas fa-eyes" aria-hidden="true"></i></span>
      <%- __('footer.times') %> -->
      <span id="busuanzi_container_site_pv">
        &nbsp;<i class="far fa-eye"></i>&nbsp;总访问量:&nbsp;<span id="busuanzi_value_site_pv"
            class="white-color"></span>&nbsp;次
    </span>
      <!-- &nbsp;&nbsp;|&nbsp;&nbsp; -->
      <!-- <%- __('footer.total_visitors') %> -->
      <!-- <span id="busuanzi_container_site_uv"><i class="fas fa-eyes" aria-hidden="true"></i></span> -->
      <span id="busuanzi_container_site_uv">
        |&nbsp;<i class="fas fa-users"></i>&nbsp;总访问人数:&nbsp;<span id="busuanzi_value_site_uv"
            class="white-color"></span>&nbsp;人
    </span>
      <!-- <%- __('footer.people') %> -->
    <% } %>
    <%- __('symbol.period') %>
  </div>
  <div><%- markdown(__('footer.license')) %></div>
  <!-- <div class="github-badge">
      <a style="color: #fff" rel="license" href="https://hexo.io/" target="_blank" title="由 Hexo 强力驱动">
      <span class="badge-subject">Powered</span><span class="badge-value bg-blue">Hexo</span></a>
    </div> -->
</footer>
<script>setLoadingBarProgress(80);</script>
